.card {
  cursor: pointer;
  background-color: white;
  border-radius: 12px;
  width: 488px;
  height: 64px;

  padding: 16px 16px 12px 16px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;


  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);


  .bottom-info {
    display: flex;
    justify-content: space-between;

    align-items: baseline;
  }
}