@use 'src/app/utils/variables';

.container {
  width: 1240px;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  padding: 32px;

  background-color: white;
  border-radius: 12px;

  color: variables.$dark;
  font-size: variables.$text_header;

  .dish-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 12px

  }

  .cart-button {
    position: absolute;
    background-color: #282828;
    color: white;
    text-align: center;
    border-radius: 12px;
    padding: 16px 28px;
    width: fit-content;
    bottom: 10%;

    font-size: variables.$text_default;
    transition: all 350ms cubic-bezier(.71,0,.33,1.56);
    animation: grow 350ms cubic-bezier(.71,0,.33,1.56);
    cursor: pointer;
  }

  @keyframes grow {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  .divider {
    height: 100%;
    width: 2px;
    border-radius: 99px;
    background-color: rgba(40, 40, 40, 0.5);
  }
}