@use 'src/app/utils/variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');


:root {
  line-height: 100%;
  font-weight: 400;
  font-size: 24px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  color: #282828;
  border-radius: 8px;
  font-size: variables.$text_default;
  font-weight: bold;
  padding: 12px 36px;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    transform: translateY(-4px);
  }

  &:active {
    transform: translateY(0);
  }

  transition: 150ms all ease-out;
}

label {
  display: flex;
  flex-direction: column;
}

.react-datalist-input__container > * {
  box-sizing: unset;
}

.react-datalist-input__textbox {
  line-height: 100%;
  font-size: variables.$text_default;
  width: unset;
  color: #282828;
  text-overflow: ellipsis;
}

.react-datalist-input__listbox-option {
  box-sizing: border-box;
  color: #282828;

  mark {
    background-color: unset;
    color: unset;
  }
}

input {
  color: #282828;
  background-color: white;
  border-radius: 8px !important;
  font-size: variables.$text_default;
  font-weight: 500;
  padding: 12px !important;
  outline: none;
  border: none;
  height: 24px;
  width: calc(100% - 24px) !important;

  &::placeholder {
    font-size: variables.$text_default;
    font-weight: 500;
    color: #808080;
  }
}


.datepicker {
  z-index: 1001;
}

h1 {
  font-size: variables.$text_header;
  line-height: 100%;
  font-weight: 200;
}

h2 {
  font-size: variables.$text_xlarge;
  font-weight: bold;
}

h3 {
  font-size: variables.$text-large;
  font-weight: bold;
}

p {
  font-size: variables.$text_default;
  font-weight: normal;
}

h4 {
  font-size: variables.$text-medium;
  font-weight: normal;
}

h5 {
  font-size: variables.$text-small;
  font-weight: normal;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
